<div style="margin: 10px 0;" class="no-print">
  <!-- Watch. -->
  <a class="github-button" href="https://github.com/portable-cto/side-project-sales/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch karllhughes/side-project-sales on GitHub">Watch</a>
  <!-- Star. -->
  <a class="github-button" href="https://github.com/portable-cto/side-project-sales" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star karllhughes/side-project-sales on GitHub">Star</a>
  <!-- Fork -->
  <a class="github-button" href="https://github.com/portable-cto/side-project-sales/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork karllhughes/side-project-sales on GitHub">Fork</a>
</div>
