---
layout: default
---

<div class="home">

  {{ content }}

  {% include build_checklists.html %}

  <h1 id="about">Side Project Marketing & Sales Checklists</h1>

  <h2>What is This?</h2>
  <p>
    The side project checklists are comprehensive, chronologically ordered lists of marketing and sales tactics you can try with your next side project. They are free, <a href="/contributing">open source</a>, and designed to be customized to your project's needs.
  </p>

  <h2>Why Checklists?</h2>
  <p>
    I've been building software side projects for years, but <a href="{% post_url 2017-08-05-why %}">I've always been terrible at marketing and selling them</a>. I come up with some ideas, forget those ideas, do some random stuff, then lose interest. The goal of this project is to fix that by making marketing and sales as simple as a checklist.
  </p>

  <p>Not sure how to use these checklists? <a href="{% post_url 2017-08-05-how-to-use %}">Click here to learn more</a>.</p>

  {% include signup_1.html %}

  <h2>Latest Blog Posts</h2>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in site.posts limit:5 %}
    {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
    {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
      </h3>

      <div class="post-content">
        {{ post.excerpt }}
      </div>
      {% if post.content contains site.excerpt_separator %}
      <p class="post-continue">
        <a href="{{ post.url | relative_url }}">Read on &rarr;</a>
      </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p><a href="/blog/">See All Blog Posts</a></p>
</div>
